.DS_Store
.vscode
.history
.wireit
.env
npm-debug.log
coverage
coverage-reports
node_modules
build
dist
package-lock.json
server
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/packages/example/*
!/packages/example/recipes-app/
/packages/example/recipes-app/types/
!/packages/example/blank-app/
/packages/example/blank-app/types/