body {
  margin: 0 1rem 1rem;
  font-family: sans-serif;
}

.demo-heading {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background: white;
  border-bottom: 1px solid #666;
}

.selector {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  color: #121212;
}

.selector label {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.selector select {
  margin: 0 0 0 1rem;
  width: 5rem;
  font-weight: 700;
  height: 2rem;
  text-align: center;
}

.selector ~ .selector {
  margin-left: 2rem;
}
