html {
  --primary: var(--primary-dark, #725c0c);
  --on-surface: var(--on-surface-dark, #1f1b13);
  --on-surface-variant: var(--on-surface-variant-dark, #53433f);
  --surface-container: var(--surface-container-dark, #f5eddf);
  --surface-container-high: var(--surface-container-high-dark, #efe7d9);
  --surface-container-highest: var(--surface-container-highest-dark, #eae2d4);
  --surface: var(--surface-dark, #fff8f0);
  --outline: var(--outline-dark, #85736e);
  --header-gradient: var(--header-gradient-dark, rgba(255, 248, 240, 1));
}

/* DARK MODE */

:root[color-scheme-dark] {
  --primary-dark: #e2c46d;
  --on-surface-dark: #eae2d4;
  --on-surface-variant-dark: #cfc6b4;
  --surface-container-dark: #2d2a21;
  --surface-container-high-dark: #2d2a21;
  --surface-container-highest-dark: #38342b;
  --surface-dark: #16130b;
  --outline-dark: #989080;
  --header-gradient-dark: rgba(22, 19, 11, 1);
}
